[user]
  # These values are set in ~/.gitconfig_local
	name = Soros Liu
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgSign = true
[pull]
	rebase = false
[include]
  path = ~/.gitconfig_local
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[tag]
	gpgSign = true
