new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}"

ruler_mode 0

# If the last opened document is empty, DISABLE loading the tutorial pdf instead
should_load_tutorial_when_no_other_file 0

# always open new files in new windows by default
should_launch_new_window 1

# DO NOT open last opened document
open_last_document_on_startup 0

close_window <C-w>

